<div class="container-index">
  <div class="index_wrapper">
    <h3>About Our <span class="about-title">Sweet</span> Salon</h3>

    <p class="about">
      We opened this salon so that you can have that one special day where you get pampered like a queen and forget all mundane worries, even if for only one day.
    <br><br>
      Our team of professional hair stylists, beauty masters and masseurs is ready to chase away the day's fatigue and make you gleam!
    <br><br>
      <span id="slogan">When you look good, you feel good!<br>All we want it to help you discover the beauty within...</span>
    </p>
  </div>
</div>
