<div class="container-index">
  <div class="index_wrapper">
    <h3>Hair Styling Services:</h3>
    <p class="price-tag">prices in HKD</p>
      <br><br>
    <div class="row">
      <div class="col-md-6">
        <ul class="services-text">
          <li>Cut & Blow Dry (Ladies)</li>
          <li>Blow Dry (Short/Long Hair)</li>
          <li>Colour Roots</li>
          <li>Colour Full Head</li>
          <li>Full Head Highlight</li>
          <li>Brazilian Keratin Blowout</li>
          <li>Chemical Perm</li>
          <li>Digital Perm</li>
          <li>Japanese Straightening</li>
          <li>Dip Dye/Ombre</li>
          <li>Make-up</li>
        </ul>
      </div>
      <div class="col-md-1 col2">
        <ul class="services-text text2">
          <li class="item-list">980</li>
          <li class="item-list">600</li>
          <li class="item-list">680</li>
          <li class="item-list">1100</li>
          <li class="item-list">2500</li>
          <li class="item-list">2800</li>
          <li class="item-list">2500</li>
          <li class="item-list">2800</li>
          <li class="item-list">2500</li>
          <li class="item-list">2500</li>
          <li class="item-list">850</li>
        <ul class="services-text">
      </div>
    </div>
  </div>
</div>
